body {
    font-family: sans-serif;
    background-color: rgb(133, 133, 133);
}

h1 {
    font-family: fantasy;
}

#container {
    margin: 5rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.catchphrase {
    font-size: 1.5rem;
    margin: 3rem 0;
    text-align: center;
}

#button-clicker{
    width: 100px;
    background-color: white;
    color: rgb(133, 133, 133);
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
